@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  background-color: white;
}
header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}
header i {
  padding-left: 20px;
  font-size: 25px;
}
header h1 {
  margin: 12px auto;
}

#logo {
  height: 36px;
  width: 140px;
}

/* --------------- restaurant Menu ------------------- */
.menu-restaurant {
  padding-bottom: 10px;
  background-color: #f6f6f6;
  border-top: solid #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: 300px;
}
.menu-restaurant img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  top: 50px;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurant-name h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.restaurant-dish {
  margin-bottom: 35px;
}
.restaurant-dish h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  width: 35px;
  border-bottom: 3px solid #99e2d0;
  margin: 10px 15px;
}
.restaurant-dish article {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  align-items: flex-end;
  margin: 10px 20px;
  padding: 5px 20px;
  cursor: pointer;
}
.restaurant-dish .slide {
  animation: linear;
  animation-delay: 1.1s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide2 {
  animation: linear;
  animation-delay: 1.2s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide3 {
  animation: linear;
  animation-delay: 1.3s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide4 {
  animation: linear;
  animation-delay: 2s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide5 {
  animation: linear;
  animation-delay: 2.1s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide6 {
  animation: linear;
  animation-delay: 2.2s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide7 {
  animation: linear;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide8 {
  animation: linear;
  animation-delay: 3.1s;
  animation-duration: 1.5s;
  animation-name: slidein;
}
.restaurant-dish .slide9 {
  animation: linear;
  animation-delay: 3.2s;
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    transform: translateX(5%);
    margin-left: 40%;
  }
  to {
    margin-left: 2px;
    transform: translateX(0%);
  }
}
.restaurant-dish .content-txt h3 {
  margin: 5px 0;
}
.restaurant-dish .content-txt p {
  margin: 5px 0;
  font-size: 15px;
}

.btn {
  display: flex;
  width: 218px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  align-items: center;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn a {
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  margin: auto;
}
.btn:hover {
  opacity: 0.95;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.2509803922);
  filter: brightness(110%);
}

.fonctionnement-banderole {
  width: 100%;
  height: 73px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  align-items: center;
  margin-bottom: 25px;
}
.fonctionnement-banderole span {
  padding-right: 40px;
}
.fonctionnement-banderole i {
  padding-left: 30px;
  font-size: 20px;
}
.fonctionnement-banderole .icon-color {
  color: gray;
}
.fonctionnement-banderole .icon-color-2 {
  color: #9356dc;
}
.fonctionnement-banderole .icon-correction {
  padding-right: 10px;
}
.fonctionnement-banderole p {
  position: absolute;
  background-color: #9356dc;
  padding: 3px 8px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  left: -10px;
}

.card {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-content .card-txt {
  margin-left: 15px;
}
.card .card-content .card-txt .card-title {
  margin: 20px 0 8px 0;
}
.card .card-content .card-txt .card-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
}

.like-button {
  margin: 20px;
  font-size: 25px;
  cursor: default;
  position: relative;
  text-shadow: 0 0px 2px black;
  color: white;
}
.like-button i:hover::before {
  text-shadow: none;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

footer {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 20px;
  background: #353535;
  color: white;
}
footer img {
  width: 100px;
  height: 20px;
  margin: 25px 0 15px 0;
  filter: brightness(0) invert(1);
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer li {
  margin: 10px 0;
}
footer a {
  text-decoration: none;
  color: white;
}

.icon-text-footer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.icon-text-footer p {
  margin: 0px;
}
.icon-text-footer i {
  width: 11px;
  height: 13px;
  padding-right: 14px;
  font-size: 13px;
}

.name {
  flex-grow: 1;
  width: 10em;
}

p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box {
  display: flex;
  width: 0;
  transition: all 0.6s;
}
.box .check {
  margin-left: 20px;
  background-color: #99E2D0;
  border-radius: 20px 0;
}
.box i {
  margin: 20px 15px;
  font-size: 22px;
  color: #efd;
}

.menu {
  display: flex;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.menu:hover > .box {
  width: 3em;
}

@media (min-width: 600px) {
  .menu-restaurant {
    width: 80%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-restaurant img {
    left: 0;
  }
  .menu-restaurant .restaurant-name {
    justify-content: center;
    margin: 10px;
  }
  .menu-restaurant .restaurant-name h2 {
    margin-right: 20px;
  }
  .restaurant-dish {
    margin: 0 15% 30px 15%;
  }
  footer {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-items: flex-end;
  }
  footer img {
    order: 3;
    margin: 25px 50px 10px 0;
  }
  footer ul {
    display: flex;
    margin: 0 80px 0 30px;
  }
  footer li {
    padding: 0 10px;
  }
  .icon-text-footer {
    margin: 10px;
  }
}/*# sourceMappingURL=style2.css.map */