html,
body {
  font-family: "Roboto", sans-serif;
  background-color: $main-bg-color;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  width: 100%;
  & h1 {
    background-color: white;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 0;
    padding: 15px 0 10px 0;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.149);
  }
}
#logo {
  height: 36px;
  width: 140px;
}

.location {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: $location-bg-color;
  font-size: 16px;
  & i {
    height: 16px;
    width: 12px;
    align-self: center;
    padding-bottom: 3px;
  }
  & p {
    font-weight: 500;
  }
}

.exploration {
  padding: 40px 20px 50px 20px;
  text-align: center;
  & .title-m-p {
    margin: 0px 0 10px 0;
    padding: 0px 25px;
  }
  & .subtitle-m-p {
    margin: 15px 0 30px 0;
    font-size: 18px;
  }
}
.title-weight {
  font-weight: 700;
}
.subtitle-weight {
  font-weight: 300;
}
