.name{
    flex-grow: 1;
    width: 10em;
  }
  .content-txt {
  & p,
  h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
  .box {
  display: flex;
  width: 0;
  transition: all 0.6s;
  
  .check {
    margin-left: 20px;
    background-color: #99E2D0;
  }
  & i {
    margin: 20px 15px;
    font-size: 22px;
    color: #FFFFFF;
  } 
  }
  .menu {
  overflow: hidden;
  
  &:hover > .box {
    width: 3em;
  }
  }