footer {
    width: 100%;
    padding-left: 25px;
    padding-bottom: 20px;
    background: #353535;
    color: white;
    & img {
      width: 100px;
      height: 20px;
      margin: 25px 0 15px 0;
      filter: brightness(0) invert(1);
    }
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    & li {
      margin: 10px 0;
    }
    & a {
      text-decoration: none;
      color: white;
    }
  }
  .icon-text-footer {
    display: flex;
    align-items: center;
    margin: 10px 0;
    & p {
      margin: 0px;
    }
    & i {
      width: 11px;
      height: 13px;
      padding-right: 14px;
      font-size: 13px;
    }
  }