.like-button {
  input {
    position: absolute;
    height: 25px;
    width: 25px;
    opacity: 0;
    z-index: 4;
    cursor: pointer;
    &:checked ~ .fas {
      opacity: 1;
      transition: 1s;
    }
    &:checked ~ .far {
      opacity: 0;
      transition: 1s;
    }
  }
  .fas {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: 1s;
  }
  .far {
    font-size: 25px;
    z-index: 2;
  }
}
