#loader {
    height: 100vmax;
    width: 100%;
    background-color: white;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-top: 40vmax;
    margin-left: 50%;
  }
  .loader-quart {
    border-radius: 50px;
    border: 6px solid transparent;
  }
  .loader-quart:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border-bottom: 2px solid #ff79da;
    border-top: 2px solid $violet-color;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }