@media (min-width: 600px) {
    
    /* ------------------ header -------------------- */
  
    header {
      & .logo {
        // box-shadow: none;
        box-shadow: 0px 2px 4px 5px rgb(253, 252, 252);
    }
  }
  
    #logo {
      width: 200px;
      height: 35px;
    }
    .exploration {
        padding: 40px 0;
        & .title-m-p {
            font-size: 40px;
        }
        & .subtitle-m-p {
            font-size: 18px;
            margin: 25px 0;
        }
      }
      .fonctionnement {
        height: fit-content;
        & .title {
          padding-left: 10%;
        }
        & .banderoles {
          display: flex;
          flex-direction: row;
          gap: 25px;
          padding: 0 10%;
        }
      }

      .restaurants {
        padding: 50px 10%;
      }
      .restaurants-card {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .menu-restaurant{
        width: 80%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        & img{
            left: 0;
        }
        & .restaurant-name{
            justify-content: center;
            margin: 10px;
            & h2{
                margin-right: 20px;
            }
        }
        }    
        .restaurant-dish{
         margin: 0 15% 30px 15%;
        }
      footer {
        width: 97%;
        display: flex;
        justify-content: flex-end;
        padding: 30px;
        align-items: flex-end;
        & img {
          order: 3;
          padding: 0px 100px 0px 50px;
        }
        & ul {
          display: flex;
        }
        & li {
          padding: 0 0px 0 40px;
        }
      }
      .icon-text-footer {
        padding: 0 20px;
      }
}